* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: black;
  color: white;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: rgba(0, 0, 0, 0.6);
}

.logo span {
  color: #7CFC00;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.65);
  z-index: -1;
}

.hero-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.hero h2 {
  font-size: 32px;
}

.hero h2 span {
  color: #7CFC00;
}

.quote {
  margin-top: 15px;
  font-size: 16px;
  font-style: italic;
  max-width: 600px;
  opacity: 0.9;
}

/* BUTTON */
.glow-btn {
  margin-top: 25px;
  padding: 12px 30px;
  border: none;
  background: #7CFC00;
  color: black;
  font-size: 15px;
  cursor: pointer;
  box-shadow: 0 0 25px #7CFC00;
  transition: 0.3s;
}

.glow-btn:hover {
  box-shadow: 0 0 40px #7CFC00;
}

/* SECTIONS */
.section {
  padding: 100px 60px;
  text-align: center;
  background: #0f3d2e;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px #7CFC00;
}

/* SCROLL ANIMATION */
.hidden {
  opacity: 0;
  transform: translateY(40px);
  transition: 1s;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

/* FOOTER */
footer {
  background: black;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}
